.header {
    border-bottom: 1px solid #eae9ed;

    .top-header {
        justify-content: space-between;
        height: 80px;
        padding: 16px 60px;

        .top-header__left {
            justify-content: center;
            align-items: center;

            .logo {
                justify-content: center;
                align-items: center;

                img {
                    width: 60px;
                    height: 60px;
                }
            }

            .brand {
                padding-left: 12px;
                font-family: MeriendaB;
                font-size: 28px;

            }
        }

        .top-header__right {
            align-items: center;

            .search {
                align-items: center;

                input {
                    padding: 11px 4px;
                    border-width: 0;
                    width: 0;
                    transition: all 0.5s ease;
                    font-size: 16px;
                    padding-left: 8px;
                    border-top-left-radius: 8px;
                    border-bottom-left-radius: 8px;
                    background-color: #de2454;
                    cursor: text;
                    caret-color: #de2454;
                    color: #000;
                }

                input:focus {
                    width: 200px;
                    background-color: #fff;
                    box-shadow: 0px 0px 1px 1px #de2454;

                }

                input:focus~div {
                    padding-left: 8px;
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                    box-shadow: 0px 0px 1px 1px #de2454;

                }

                input::placeholder {
                    color: rgb(155, 164, 182);
                }

                div {
                    border-top-right-radius: 8px;
                    border-bottom-right-radius: 8px;
                    line-height: 1;
                    padding: 11px 11px 11px 0;
                    background-color: #de2454;
                    color: #fff;
                    cursor: pointer;
                    transition: all 0.5s ease;

                    i {
                        font-size: 24px;

                    }
                }
            }

            .search:hover {
                input {
                    width: 200px;
                    background-color: #fff;
                    box-shadow: 0px 0px 1px 1px #cd4a6a;
                }

                div {
                    padding-left: 8px;
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                    box-shadow: 0px 0px 1px 1px #de2454;

                }
            }

            .signin {
                margin: 0 24px;
                padding: 12px 20px;
                border: 2px solid #de2454;
                border-radius: 12px;
                cursor: pointer;
            }

            .signin:hover {
                background-color: #c81d48;
                color: #fff;
                box-shadow: 0px 0px 1px 1px #e61c4e;
                transition: all 0.5s ease;
            }

            .signup {
                padding: 14px 22px;
                border-radius: 12px;
                background-color: #de2454;
                color: #fff;
                cursor: pointer;
            }

            .signup:hover {
                background-color: #c81d48;
                transition: all 0.3s ease;
                box-shadow: 0px 0px 1px 1px #e61c4e;
            }
        }
    }

    .bottom-header {
        // margin-top: 8px;
        padding-bottom: 8px;

        .navbar-items {
            justify-content: center;
        }

        .navbar-item {
            position: relative;
            font-family: MeriendaB;
            text-align: center;
            margin: 0 16px;
            font-size: 28px;
            font-weight: 700;

            i {
                font-size: 26px;
            }
        }

        .navbar-item:hover {
            color: #de2454;
        }

        .active {
            color: #de2454;
        }

        .active::before {
            width: 100% !important;
        }

        .navbar-item-link::before {
            content: "";
            position: absolute;
            bottom: -10px;
            left: 50%;
            transform: translateX(-50%);
            width: 0;
            transition: width 0.5s ease;
            height: 3px;
            background-color: #de2454;
        }

        .navbar-item-link:hover::before {
            width: 100%;
        }
    }
}